body {
    background-color:#d2f6c5;
    font-family: 'Montserrat', sans-serif;
    color: #454545;
}

h1 {
  text-align: center;
  margin: 50px;
}

h2 {
  margin: 20px;
}

.link-tile {
  border: 1px solid black;
  background-color: #f6c5d2;
  color: #454545;
  width: 90%;
  height: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Helvetica;
  padding: 10px;
}

.inner-link-tile {
  width: 100%;
}

.link-tile-container {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #000;
}

.customer-details, .job-details {
  text-align: center;
}

.job-details-container {
  width: 50%;
  margin: 0 auto 100px auto;
  padding: 20px;
}

.job-details-headings {
  color: purple;
  font-weight: bold;
}

form {
  background-color: #f6c5d2;
  border: 2px solid white;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

label {
  width: 25%;
}

.submit-button, .login-button {
  background-color: #28df99;
  width: 15%;
  padding: 10px;
  display: block;
  margin: 20px auto;
}

input, select, textarea {
  margin: 10px;
  width: 50%;
}

table, th, td {
  border: 2px solid #000;
  text-align: center;
  color: #000;
}

table {
  width: 90%;
  margin: 50px auto;
}

th {
  background-color: #f6c5d2;
  padding: 15px;
}

td {
  padding: 10px;
}

.no_date {
  background-color: #FFF;
}

.brown_date {
  background-color: brown;
}

.red_date {
  background-color: red;
}

.orange_date {
  background-color: orange;
}

.green_date {
  background-color: green;
}
