{% extends './base.html' %}

{% load static %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'jobslist/style.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>Welcome to Stirling Tree Care Jobslist, {{ name | title }}.</h1>
{% else %}
<h1>Welcome to Stirling Tree Care Jobslist!</h1>
{% endif %}
<h2>Let's get started...</h2>
<div class="container link-tile-container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <a href="{% url 'login' %}"><div class="d-flex text-center link-tile">
        <div class="align-self-center">
          <h3>Login</h3>
          {% if user.is_authenticated %}
          <p>You are logged in {{ name | title }}</p>
          {%endif%}
        </div>
      </div></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <a href="{% url 'customer_create' %}"><div class="d-flex text-center link-tile">
        <div class="align-self-center">
          <h3>Add a Customer</h3>
          <p>Start here! Click here to add your customer's basic details.</p>
          <p>If the customer is already in the database, go straight to "Add a Job"</p>
        </div>
      </div></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <a href="{% url 'job_create' %}"><div class="d-flex text-center link-tile">
        <div class="align-self-center">
          <h3>Add a Job</h3>
          <p>Once you have a customer, click here to add their job's details.</p>
        </div>
      </div></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <a href="{% url 'jobs_list' %}"><div class=" d-flex text-center link-tile">
        <div class="align-self-center">
          <h3>Look at your outstanding jobs</h3>
          <p>See you outstanding jobs, with colour coded deadlines.</p>
          <p>Once you've completed a job, don't forget to tick the "completed" box in the edit tab!</p>
        </div>
      </div></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <a href="{% url 'completed_jobs_list' %}"><div class="d-flex text-center link-tile">
        <div class="align-self-center">
          <h3>Look at your completed jobs</h3>
          <p>Click here to check the details of any jobs you have already completed</p>
        </div>
      </div></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <a href="{% url 'customer_list' %}"><div class="d-flex text-center link-tile">
        <div class="align-self-center">
          <h3>List of Customers</h3>
          <p>Click here to check or edit customer details</p>
        </div>
      </div></a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
