{% extends './base.html' %}

{% load static %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'jobslist/style.css' %}">
{% endblock %}

{% block content %}

<h1>Job Details</h1>
<div class="job-details-container">
  <p><span class="job-details-headings">Customer:</span> <a href="{% url 'customer_details' job.customer.id %}">{{ job.customer.first_name }} {{ job.customer.last_name }}</a></p>
  <p><span class="job-details-headings">Phone:</span> {{ job.customer.phone }}</p>
  <p><span class="job-details-headings">Email:</span> {{ job.customer.email }}</p>
  <p><span class="job-details-headings">Address:</span> {{ job.street }}, {{ job.town }}, {{ job.postcode }}</p>
    {% if job.type == 'T' %}
  <p><span class="job-details-headings">Job Type:</span> Tree</p>
    {% elif job.type == 'M' %}
  <p><span class="job-details-headings">Job Type:</span> Mixed</p>
    {% elif job.type == 'H' %}
  <p><span class="job-details-headings">Job Type:</span> Hedge</p>
    {% endif %}
  <p><span class="job-details-headings">Price:</span> £{{ job.price }}.00</p>
  <p><span class="job-details-headings">Date Created:</span> {{ job.date_created }}</p>
  <p><span class="job-details-headings">Deadline:</span> {{ job.deadline }}</p>
    {% if job.completed == True %}
  <p><span class="job-details-headings">Completed:</span> Yes</p>
    {% elif job.completed == False %}
  <p><span class="job-details-headings">Completed:</span> No</p>
    {% endif %}
    {% if job.paid == True %}
  <p><span class="job-details-headings">Paid:</span> Yes</p>
    {% elif job.paid == False %}
  <p><span class="job-details-headings">Paid:</span> No</p>
    {% endif %}
  <p><span class="job-details-headings">Description:</span></p>
  <p>{{ job.description }}</p>
  <a href="{% url 'job_update' job.id %}"><button>Edit Job</button></a>
  <a href="{% url 'job_delete' job.id %}"><button>Delete Job</button></a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
